Binaries/
Plugins/*/Binaries/

DerivedDataCache/
Intermediate/
Plugins/*/Intermediate/
Saved/

.vscode/
.vs/
*.VC.db
*.opendb
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

.DS_Store
Thumbs.db
.idea/.idea.FishingMaster/.idea/encodings.xml
.idea/.idea.FishingMaster/.idea/indexLayout.xml
.idea/.idea.FishingMaster/.idea/vcs.xml
Docs_Architecture/AI_Project_Guidelines_And_Architecture.md
Docs_Architecture/Development_Logs/Log_001_Hybrid_UI_System.md
